{% extends "layout.j2" %}
{% block title %}Action Configuration{% endblock %}
{% block body %}
    <div class="container">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Action</th>
                        <th>Reason</th>
                        <th>Edit / Delete</th>
                    </tr>
                {% for action in actions %}
                <tr>
                    <td>{{ action["action_id"] }}</td>
                    <td>{{ action["command"] }}</td>
                    <td>{{ action["reason"] }}</td>
                    <td>
                        <button class="btn btn-success btn-block btn-edit" name="edit" value="true" type="button" data-id="{{ action['action_id'] }}" data-target="#i_action"
                            data-values="cmd,code,reason"
                            data-cmd="{{ action['command'] }}"
                            data-code=""
                            data-reason="{{ action['reason'] }}"
                            >
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <form method="POST" action="{{ url_for('action_config') }}">
                            <input type="hidden" name="id" value="{{ action['action_id'] }}">
                            <button class="btn btn-danger btn-block" name="delete" value="true" type="submit">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="i_form" method="POST" action="{{ url_for('action_config') }}">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="input_code">Code</label>
                            <input type="text" id="input_code" class="form-control input_code" placeholder="Code" name=code required>
                        </div>
                        <div class="col-md-3">
                            <label for="input_cmd">Command</label>
                            <select id="input_cmd" class="form-control input_cmd" name=cmd required>
                                {% for key in  commands %}
                                <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="input_reason">Reason</label>
                            <input type="text" id="input_reason" class="form-control input_reason" placeholder="Reason" name=reason required>
                        </div>
                        <div id="i_action" class="col-md-3">
                            <button class="form-control btn btn-primary non-btn-edit" type="submit" name="create">Create</button>
                            <button class="form-control btn btn-success submit-btn-edit hide" type="submit" name="edit" disabled>Edit</button>
                            <button class="form-control btn btn-default cancel-btn-edit hide" type="button" name="cancel" data-target="#i_action" data-form="#i_form" disabled>Cancel</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <script type="text/javascript">
        $( document ).ready(function() {
            $('select.div-toggle').change(move_options).trigger('change');
            $('button.btn-edit').click(start_edit);
            $('button.cancel-btn-edit').click(cancel_edit);
        });
        </script>

    </div> <!-- /container -->
{% endblock %}
