{% extends "layout.j2" %}
{% block title %}Indicator Configuration{% endblock %}
{% block body %}
    <div class="container">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Indicators</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Interface</th>
                        <th>State</th>
                        <th>Delete</th>
                    </tr>
                {% for indicator in indicators %}
                <tr>
                    <td>{{ indicator["indicator_id"] }}</td>
                    <td>{{ indicator["interface_id"] }}</td>
                    <td>{{ alarm_states[indicator["state"]] }}</td>
                    <td>
                        <button class="btn btn-success btn-block btn-edit" name="edit" value="true" type="button" data-id="{{ indicator['indicator_id'] }}" data-target="#i_action"
                            data-values="interfaceid,state"
                            data-interfaceid="{{ indicator['interface_id'] }}"
                            data-state="{{ indicator['state'] }}"
                            >
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <form method="POST" action="{{ url_for('indicator_config') }}">
                            <input type="hidden" name="id" value="{{ indicator['indicator_id'] }}">
                            <button class="btn btn-danger btn-block" name="delete" value="true" type="submit">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <form id="i_form" method="POST" action="{{ url_for('indicator_config') }}">
            <div class="row">
                <div class="col-md-3">
                    <label for="input_interfaceid">Interface</label>
                    <select id="input_interfaceid" class="form-control input_interfaceid" name="interface_id" required>
                        {% for interface in interfaces %}
                        <option value="{{ interface["interface_id"] }}">{{ interface["interface_id"] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="input_state">Alarm State</label>
                    <select id="input_state" class="form-control input_state" name="state" required>
                        {% for key in alarm_states %}
                        <option value="{{ key }}">{{ alarm_states[key] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="i_action" class="col-md-3">
                    <button class="form-control btn btn-primary non-btn-edit" type="submit" name="create">Create</button>
                    <button class="form-control btn btn-success submit-btn-edit hide" type="submit" name="edit" disabled>Edit</button>
                    <button class="form-control btn btn-default cancel-btn-edit hide" type="button" name="cancel" data-target="#i_action" data-form="#i_form" disabled>Cancel</button>
                </div>
            </div>

        </form>

        <script type="text/javascript">
        $( document ).ready(function() {
            $('select.div-toggle').change(move_options).trigger('change');
            $('button.btn-edit').click(start_edit);
            $('button.cancel-btn-edit').click(cancel_edit);
        });
        </script>

    </div> <!-- /container -->
{% endblock %}
