{% extends "layout.j2" %}
{% block title %}Indicator Configuration{% endblock %}
{% block body %}
    <div class="container">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Indicators</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Interface</th>
                        <th>State</th>
                        <th>Delete</th>
                    </tr>
                {% for indicator in indicators %}
                <tr>
                    <td>{{ indicator["indicator_id"] }}</td>
                    <td>{{ idcicator["interface_id"] }}</td>
                    <td>{{ indicator["state"] }}</td>
                    <td>
                        <form method="DELETE" action="{{ url_for('indicator_config') }}">
                            <input type="hidden" name="id" value="{{ indicator['indicator_id'] }}">
                            <button class="btn btn-primary btn-block" type="submit">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <form method="POST" action="{{ url_for('indicator_config') }}">
            <div class="row">
                <div class="col-md-3">
                    <label for="inputInterfaceID" class="sr-only">Type</label>
                    <select id="inputInterfaceID" class="form-control" name="interface_id" required>
                        {% for key in interfaces %}
                        <option value="{{ key }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputState" class="sr-only">Type</label>
                    <select id="inputState" class="form-control" name="state" required>
                        {% for key in alarm_states %}
                        <option value="{{ key }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3"><button class="form-control btn btn-default" type="submit">Add</button></div>
            </div>

        </form>

    </div> <!-- /container -->
{% endblock %}
