{% extends "layout.j2" %}
{% block title %}Interface Configuration{% endblock %}
{% block body %}
    <div class="container">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Peripheral Interfaces</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>IO</th>
                        <th>Slot</th>
                        <th>Data</th>
                    </tr>
                {% for interface in interfaces %}
                <tr>
                    <td>{{ interface["interface_id"] }}</td>
                    <td>{{ smbio.INTERFACETYPES[interface["type"]] }}</td>
                    <td>{{ interface["io_id"] }}</td>
                    <td>{{ interface["slot"] }}</td>
                    <td>
                        <table class="table">
                            <tr>
                            {% for data_key, data_value in smbio.INTERFACEDATAMAP[interface["type"]]|dictsort %}
                                <th>{{ data_key }}</th>
                            {% endfor %}
                            </tr>
                            <tr>
                            {% for data_key, data_value in interface["data"]|dictsort %}
                                <td>{{ data_value }}</td>
                            {% endfor %}
                            </tr>
                        </table>
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('interface_config') }}">
                            <input type="hidden" name="id" value="{{ interface['interface_id'] }}">
                            <button class="btn btn-primary btn-block" name="delete" value="true" type="submit">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>

        <div id="i_type_option_out" class="hide">
            {% for tkey in  smbio.INTERFACETYPES %}
            <div class="i_type_options_{{ tkey }}" data-show="{{ tkey }}">
                {% for dkey, itype_data in smbio.INTERFACEDATAMAP[tkey]|dictsort %}
                    <label for="input_{{ dkey }}">{{ dkey }}({{ itype_data }})</label>
                    {% if itype_data == 'int' %}
                        <input type="number" id="input_{{ dkey }}" class="form-control" placeholder="{{ dkey }}" name="{{ dkey }}" required>
                    {% elif itype_data == 'pin' %}
                        <input type="number" min="0" max="7" id="input_{{ dkey }}" class="form-control" placeholder="{{ dkey }}" name="{{ dkey }}" required>
                    {% elif itype_data == 'bool' %}
                        <select id="input_{{ dkey }}" class="form-control" name="{{ dkey }}" required>
                            <option value="0">False</option>
                            <option value="1">True</option>
                        </select>
                    {% elif itype_data == 'str' %}
                        <input type="text" class="form-control input_{{ dkey }}" placeholder="{{ dkey }}" name="{{ dkey }}" required>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <div id="i_slot_option_out" class="hide">
            {% for tkey in  smbio.IOTYPES %}
            <div class="i_slot_options_{{ tkey }}" data-show="{{ tkey }}">
                <select id="inputSlot_{{ tkey }}" class="form-control" name="slot" required>
                    {% for skey in smbio.IOMAP[smbio.IOTYPES[tkey]].SLOTS %}
                    <option value="{{ skey }}">{{ smbio.IOMAP[smbio.IOTYPES[tkey]].SLOTS[skey] }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>

        <form method="POST" action="{{ url_for('interface_config') }}">
            <div class="row">
                <div class="col-md-3">
                    <label for="inputType">Type</label>
                    <select id="inputType" class="form-control div-toggle" name=type data-target="#i_type_options_in" data-bin="i_type_option_out" required>
                        {% for key in  smbio.INTERFACETYPES %}
                        <option value="{{ key }}" data-show=".i_type_options_{{ key }}">{{ smbio.INTERFACETYPES[key] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputIO">IO</label>
                    <select id="inputIO" class="form-control div-toggle" name=io_id data-target="#i_slot_options_in" data-bin="i_slot_option_out" required>
                        {% for io in  ios %}
                        <option value="{{ io['io_id'] }}" data-show=".i_slot_options_{{ io['type'] }}" >{{ io['io_id'] }}</option>
                        {% endfor %}
                    </select>
                    <div id="i_slot_options_in">

                    </div>
                </div>
                <div id="i_type_options_in" class="col-md-3">

                </div>
                <div class="col-md-3"><button class="form-control btn btn-default" type="submit">Add</button></div>
            </div>

        </form>
        <script type="text/javascript">
        $( document ).ready(function() {
            $('select.div-toggle').change(move_options).trigger('change');
        });
        </script>
    </div> <!-- /container -->
{% endblock %}
