{% extends "layout.j2" %}
{% block title %}IO Configuration{% endblock %}
{% block body %}
    <div class="container">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">IO Interfaces</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Bus</th>
                        <th>Address</th>
                        <th>Delete</th>
                    </tr>
                {% for io in ios %}
                <tr>
                    <td>{{ io["io_id"] }}</td>
                    <td>{{ smbio.IOTYPES[io["type"]] }}</td>
                    <td>{{ io["bus"] }}</td>
                    <td>{{ io["addr_hex"] }}</td>
                    <td>
                        <button class="btn btn-success btn-block btn-edit" name="edit" value="true" type="button" data-id="{{ io['io_id'] }}" data-target="#i_action"
                            data-values="type,bus,addr"
                            data-type="{{ io['type'] }}"
                            data-bus="{{ io['bus'] }}"
                            data-addr="{{ io['addr_hex'] }}"
                            >
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <form method="POST" action="{{ url_for('io_config') }}">
                            <input type="hidden" name="id" value="{{ io['io_id'] }}">
                            <button class="btn btn-danger btn-block" name="delete" value="true" type="submit">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <form id="i_form" method="POST" action="{{ url_for('io_config') }}">
            <div class="row">
                <div class="col-md-3">
                    <label for="input_type">Type</label>
                    <select id="input_type" class="form-control input_type" name=type required>
                        {% for key in  smbio.IOTYPES %}
                        <option value="{{ key }}">{{ smbio.IOTYPES[key] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="input_bus">Bus</label>
                    <input type="number" min="0" max="99" id="input_bus" class="form-control input_bus" placeholder="Bus" name=bus required>
                </div>
                <div class="col-md-3">
                    <label for="input_addr">Hex Address</label>
                    <input type="text" id="input_addr" class="form-control input_addr" placeholder="Address" name=addr required>
                </div>
                <div id="i_action" class="col-md-3">
                    <button class="form-control btn btn-primary non-btn-edit" type="submit" name="create">Create</button>
                    <button class="form-control btn btn-success submit-btn-edit hide" type="submit" name="edit" disabled>Edit</button>
                    <button class="form-control btn btn-default cancel-btn-edit hide" type="button" name="cancel" data-target="#i_action" data-form="#i_form" disabled>Cancel</button>
                </div>
            </div>

        </form>

        <script type="text/javascript">
        $( document ).ready(function() {
            $('select.div-toggle').change(move_options).trigger('change');
            $('button.btn-edit').click(start_edit);
            $('button.cancel-btn-edit').click(cancel_edit);
        });
        </script>

    </div> <!-- /container -->
{% endblock %}
